[Unit]
Description=LXC AutoScale API
Documentation=https://github.com/fabriziosalmi/proxmox-lxc-autoscale-ml
After=network.target

[Service]
User=root
Group=root
Environment="PATH=/usr/local/bin:/usr/bin:/bin:/usr/sbin"
WorkingDirectory=/usr/local/bin/lxc_autoscale_api/
ExecStart=/usr/bin/gunicorn --config /usr/local/bin/lxc_autoscale_api/gunicorn_config.py
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed

# Restart on failure
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
